blist
cassandra-driver>=2.0.1
eventlet>=0.13.0
gunicorn
iso8601>=0.1.9
jsonschema>=2.0.0,<3.0.0
oslo.config>=1.2.1
oslo.messaging>=1.4.0
pbr>=0.6,!=0.7,<1.0
keystonemiddleware>=1.0.0
Babel>=1.3
Paste
PasteDeploy>=1.5.0
python-keystoneclient>=0.10.0
Routes>=1.12.3
WebOb>=1.2.3
kombu>=2.4.8
six>=1.7.0
