boto>=2.4.0,!=2.13.0
discover
funkload
# Hacking already pins down pep8, pyflakes and flake8
hacking>=0.9.2,<0.10
httplib2>=0.7.5
mock>=1.0
mox>=0.5.3
nose
nose-subunit
oslosphinx
sphinx>=1.1.2,<1.2
sphinxcontrib-httpdomain
testresources
testrepository>=0.0.17
testtools>=0.9.32
wsgi_intercept
